/**/*
!.gitignore
!.npmignore
!tsconfig.json
!LICENSE
!/src
!/src/*
!/*.*
!/examples
!/examples/simple
!/examples/simple/*.*
!/tests
!/tests/test
!/tests/test/*.*
!/tests/test/src
!/tests/test/src/**/*
!CHANGELOG.md